<h1> Bienvenue sur la page des potins de THP </h1>

<html>
  <body>

  <html>
  <body>

    <!-- ... -->

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Identifiant' %>
      <%= text_field_tag 'identifiant' %>
      <br /> <br />

      <%= label_tag 'Password' %>
      <%= text_field_tag 'password' %>
      <br /> <br />

      <%= submit_tag "C'est parti!" %>

    <% end %>

    <!-- ... -->

  </body>
</html>