<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <br>
  <br>
  <br>
  <div class="text-center">
    <h1>Please enter the title and your gossip</h1>
  <br>
  <br>
  <br>
   <% if @gossip.errors.any? %>
        <div class="alert alert-danger" role="alert">
        Le potin ne peut être créé pour la (ou les) raison(s) suivante(s) :
          <ul>
            <% @gossip.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert">
              <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

    <div class="d-flex justify-content-center">
    <!-- ... -->
    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag '' %>
      <%= text_field_tag 'title', "Title", class:'form-control rounded-pill' %>
    
      <%= label_tag '' %>
      <%= text_field_tag 'body', "Gossip", class:'form-control rounded-pill' %>
      
      <%= label_tag '' %>
      <%= text_field_tag 'author', "Anonymous", class:'form-control rounded-pill'%>
      <br /> <br />
      
      <div class="text-center">
      <%= submit_tag "Gossip !", class:'btn-lg btn-primary rounded-pill' %>
      </div>

    <% end %>
    <!-- ... -->
    </div>
  </div>
</div>


