<p>Voici le contenu du potin n°<%= @gossip.id%></p>


<div class="card" style="width: 45rem;">
  <div class="card-body">
    <h5 class="card-title">Autheur :<%=@gossip.user.first_name%>  <%=@gossip.user.last_name%></h5>
    <br></br>
    <h6 class="card-subtitle mb-2 ">Titre :<%=@gossip.title%></h6>
    <br></br>
    <p class="card-text">Contenu : <%=@gossip.content%></p>
    <br></br>
    <p  class="card-link">ville de l'auteur: <a href="<%= city_path(:id => @gossip.user.city_id) %>" class="btn btn-primary"><%=@gossip.user.city.name%></a>
    </p>
    <%= link_to "Retour", gossips_path, class: "btn btn-primary" %>       

  </div>
</div>
